<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hospital at home{% endblock %}</title>
</head>
<body>
<p><a href="{% url 'hospital_index' %}">Main</a></p>
{% if request.user.is_authenticated %}
<p>Welcome, {{ request.user.username }}! <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></p>
{% if request.user.first_name == 'doctor' %}
<p><a href="{% url 'new_patient' %}">Добавить нового пациента</a></p>
{% endif %}
{% else %}
<p>Welcome, stranger! Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>
or <a href="{% url 'signup' %}">sign up</a></p>
{% endif %}
<hr/>
{% if request.user.first_name == 'doctor' %}
{% block content %}{% endblock %}
{% else %}
    <h3>Log in as doctor if you want to see content</h3>
{% endif %}
</body>
</html>