<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hospital.css' %}">
</head>
<body>
<div class="log">
    <p class="sign"> Log in </p>
    <form method="POST">
        {% csrf_token %}
        <table class="un">{{ form }}</table>
        <input type="submit" class="submit" value="Login"/>
    </form>
    <p class="ask">Don't have an account <a href="{% url 'signup' %}">Sign Up</a></p>
</div>
</body>
</html>