<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hospital.css' %}">
</head>
<body>
<div class="sig">
    <p class="sign">Sign Up</p>
    <form method="POST">
        {% csrf_token %}
        <table class="un">{{ form }}</table>
        <input type="submit" class="submit" value="Sign Up"/>
    </form>
    <p class="ask">Already have an account <a href="{% url 'login' %}">Log in</a></p>
</div>
</body>
</html>